{{!-- Buy Table Column Names (START) --}}
<section id="stock-section">
  <h2 class="text-center">Stocks and Indexes</h2>
  <div class="container stock-lists" id="border">
    <div class="row ml-4 mt-3 stock-header-column">
      <div class="col-sm-9 col-md-1 col-lg-1 offset-1">
        <h6 class="text-center period-header">Period</h6>
      </div>
      <div class="col-sm-9 col-md-2 col-lg-2">
        <h6 class="text-center stock-header">Stock</h6>
      </div>
      <div class="col-sm-9 col-md-1 col-lg-1 pl-1">
        <h6 class="text-center ticker-header">Ticker</h6>
      </div>
      <div class="col-sm-9 col-md-1 col-lg-1">
        <h6 class="text-center price-header">Price</h6>
      </div>
      <div class="col-sm-9 col-md-1 col-lg-1 pl-1">
        <h6 class="text-center shares-header">Shares</h6>
      </div>
      <div class="col-sm-9 col-md-1 col-lg-1 pl-1">
        <h6 class="text-center valuation-header">Valuation</h6>
      </div>
      <div class="col-sm-9 col-md-1 col-lg-1 offset-md-1 mr-1 pl-1">
        <h6 class="text-center buy-sell-header">Buy/Sell</h6>
      </div>
    </div>
    {{!-- Buy Table Column Names (END) --}}

    {{!-- Buy Table Form (START) --}}
    {{#each positions}}
    <form id="form-positions-buy" method="POST" action="/buy">
      <div class="form-row ml-4" id="stockList">
        <div class="col-sm-9 col-md-1 offset-md-1">
          <input type="text" class="form-control" id="monthly_period" name="monthly_period" value="{{this.monthly_period}}"
            readonly="readonly">
        </div>
        <div class="col-sm-9 col-md-2">
          <input type="text" class="form-control" id="stock" name="stock" value="{{this.stock}}" readonly="readonly">
        </div>
        <div class="col-sm-9 col-md-1">
          <input type="text" class="form-control" id="ticker" name="ticker" value="{{this.ticker}}" readonly="readonly">
        </div>
        <div class="col-sm-9 col-md-1">
          <input type="text" class="form-control" id="price" name="price" value="{{this.price}}" readonly="readonly">
        </div>
        <div class="col-sm-9 col-md-1">
          <input type="text" class="form-control" id="shares" name="shares" value="{{this.shares}}" readonly="readonly">
        </div>
        <div class="col-sm-9 col-md-1">
          <input type="text" class="form-control" id="valuation" name="valuation" value="{{this.valuation}}" readonly="readonly">
        </div>
        <div class="col-sm-9 col-md-1">
          <button type="submit" class="btn btn-success ml-3 mb-2" id="buy" name="buy_sell" value="buy">Buy</button>
        </div>
        <div class="col-sm-9 col-md-1">
          <input type="number" class="form-control" id="buy_shares" name="buy_shares" placeholder="# shares">
        </div>
        <div class="col-sm-9 col-md-1">
          <button type="submit" class="btn btn-danger ml-3 mb-2" id="sell" name="buy_sell" value="sell">Sell</button>
        </div>
        <div class="col-sm-9 col-md-1">
          <input type="hidden" class="form-control" id="username" name="user_name" value="{{this.user_name}}" readonly="readonly">
        </div>
      </div>
    </form>
    {{/each}}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <form id="frm-next_monthly_period" method="POST" action="/next_monthly_period">
            <button type="submit" class="btn btn-primary text-center" id="btn-next_monthly-period">Next Period</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- Buy Table Form (END) --}}

{{!-- Sell Table Column Names (START) --}}
{{!-- <div class="container" id="border">
  <h4 class="text-center buy-sell-title">Sell</h4>
  <div class="row ml-5 pl-4 offset-md-2">
    <div class="col-md-1 offset-md-1">
      <h6 class="text-center">Period</h6>
    </div>
    <div class="col-md-2">
      <h6 class="text-center">Stock</h6>
    </div>
    <div class="col-md-1 pl-1">
      <h6 class="text-center">Ticker</h6>
    </div>
    <div class="col-md-1 pl-1">
      <h6 class="text-center">Price</h6>
    </div>
    <div class="col-md-1 pl-1">
      <h6 class="text-center">Shares</h6>
    </div>
    <div class="col-md-1 pl-1">
      <h6 class="text-center">Valuation</h6>
    </div>
    <div class="col-md-1 offset-md-1 pl-1">
      <h6 class="text-center">Sell</h6>
    </div>
  </div> --}}
  {{!-- Sell Table Column Names (END) --}}

  {{!-- Sell Table Form (START) --}}
  {{!-- {{#each positions}}
  <form id="form-positions-sell" method="POST" action="/sell">
    <div class="form-row ml-5 pl-4" id="stockList">

      <div class="col-md-1">
        <input type="text" class="form-control" id="monthly_period" name="monthly_period" value="{{this.monthly_period}}"
          placeholder="" readonly="readonly">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" id="stock" name="stock" value="{{this.stock}}" readonly="readonly">
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control" id="ticker" name="ticker" value="{{this.ticker}}" readonly="readonly">
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control" id="price" name="price" value="{{this.price}}" readonly="readonly">
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control" id="shares" name="shares" value="{{this.shares}}" readonly="readonly">
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control" id="valuation" name="valuation" value="{{this.valuation}}" readonly="readonly">
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn btn-success ml-3 mb-2" id="sell">Sell</button>
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control" id="sell_shares" name="sell_shares" placeholder="# shares">
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control" id="username" name="user_name" value="{{this.user_name}}" readonly="readonly">
      </div>
    </div>
  </form>
  {{/each}}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form id="frm-next_monthly_period" method="POST" action="/next_monthly_period">
          <button type="submit" class="btn btn-success text-center" id="btn-next_monthly-period">Next Period</button>
        </form>
      </div>
    </div>
  </div>
</div>
</section> --}}
{{!-- Sell Table Form (END) --}}

{{!-- Transactions History (START) --}}
<section id="transactions-section">
  <h2 class="text-center">Transactions History</h2>
  <div class="container" id="border">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col-2" class="text-center">Period #</th>
          <th scope="col-3" class="text-center">Stock</th>
          <th scope="col-2" class="text-center">Ticker</th>
          <th scope="col-2" class="text-center">Buy/Sell</th>
          <th scope="col-2" class="text-center">Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
        <tr>
          <td id="trx_monthly_period">{{this.monthly_period}}</td>
          <td id="trx_buy_sell">{{this.buy_sell}}</td>
          <td id="trx_stock">{{this.stock}}</td>
          <td id="trx_ticker">{{this.ticker}}</td>
          <td id="trx_price">{{this.price}}</td>
          <td id="trx_shares">{{this.shares}}</td>
          <td id="trx_value">{{this.value}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form id="frm-refresh_history" method="GET" action="/refresh_history">
            <button type="submit" class="btn btn-success text-center" id="btn-refresh_history">Refresh History</button>
          </form>
        </div>
      </div>
    </div> --}}
  </div>
</section>
{{!-- Transactions History (END) --}}

<!-- Chart (START) -->
<section id="chart-section">
  <h2 class="text-center">Portfolio Chart</h2>
  <div class="container" id="border">
    <div id="chart-area">
      <svg width="960" height="430"></svg>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          {{!-- <form id="frm-create_chart" method="POST" action="/create_chart"> --}}
            <button type="submit" class="btn btn-primary text-center" id="btn-create_chart">Create Chart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Chart (END) -->



{{!--
<div>
  {{#each positions}}
  <h1>{{this.monthly_period}}</h1>
  {{/each}}
</div>
--}}



{{!-- <h2 class="text-center">Time Series Performance</h2>
<div class="container" id="border">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 426%;">
        <div class="card-body">
          <div class="container">
            <h4 class="text-center">Period {{this.monthly_period}}</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="text-center" id="positionStock">Stock</th>
                  <th scope="col" class="text-center" id="positionTicker">Ticker</th>
                  <th scope="col" class="text-center" id="positionShares">Shares</th>
                  <th scope="col" class="text-center" id="positionValue">Total Value</th>
                  <th scope="col" class="text-center" id="positionCash">Cash</th>
                  <th scope="col" class="text-center" id="positionPortfolioAmount">Portfolio Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="positionStockData"></td>
                  <td id="positionTickerData"></td>
                  <td id="positionSharesData"></td>
                  <td id="positionTotalValueData"></td>
                  <td id="positionCashData"></td>
                  <td id="positionPortfolioAmountData"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}